body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#303030

}

#topBar {
    background: #336699;
    height: 5vh;
    text-align: center;
    color: black;
    font-size: 2.3em;
    font-family: 'Raleway';
    padding-top: 0.5%;
    padding-bottom: 5;
}

#videoInput {
    height:30em;
    width:40em;
    border-style: solid;
    border-color:black;
    border-width: 5px;
    background:#424242
}